<h2 class="headline">Editar Pedido de Material</h2>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

<form class="row g-3"  autocomplete="off" (ngSubmit)="editarPedido()">
    <div class="alert alert-warning col-md-12" role="alert" *ngIf="avisoStatus">
      Ao salvar um pedido com status de <span style="font-weight: bold;">ENTREGUE</span>, ele não poderá ser editado novamente e a quantidade do material será salva imediatamente em seu estoque.
    </div>
    <div class="col-md-6">
      <label for="material" class="form-label">Material</label>
      <select class="form-control" name="material" [(ngModel)]="formData.idMaterial" (change)="atualizarMaterial()">
        <option *ngIf="!materiais || materiais.length === 0" disabled selected (click)="router.navigate(['materiais-new'])">Voce nao tem nenhum material cadastrado</option>
        <option *ngFor="let material of materiais" [value]="material.id">
            {{ material.nome }}
        </option>
    </select>
    </div>
    <div class="col-md-3">
      <label for="quantidade" class="form-label">Quantidade</label>
      <input type="number" class="form-control" id="quantidade" name="quantidade" [(ngModel)]="formData.quantidade">
    </div>
    <div class="col-md-3">
        <label for="unidade" class="form-label">Unidade</label>
        <input type="text" class="form-control" id="unidade" name="unidade" [(ngModel)]="formData.unidadeMaterial" disabled>
      </div>
    <div class="col-6">
      <label for="valorTotal" class="form-label">Valor Total</label>
      <input type="number" class="form-control" id="valorTotal" name="valorTotal" [(ngModel)]="formData.valorTotal">
    </div>
    <div class="col-md-6">
        <label for="fornecedor" class="form-label">Fornecedor</label>
        <input type="text" class="form-control" id="material" name="fornecedor" [(ngModel)]="formData.fornecedor">
    </div>
    <div class="col-md-6">
        <label for="obra" class="form-label">Obra (Cliente)</label>
        <input type="text" class="form-control" id="obra" name="obra" [(ngModel)]="formData.nomeObraMaterial" disabled>
    </div>
    <div class="col-6">
        <label for="obra" class="form-label">Data do Pedido</label>
        <input type="date" class="form-control" id="dataPedido" name="dataPedido" [(ngModel)]="formData.dataPedido">
    </div>
    <div class="col-6">
        <label for="dataEntrega" class="form-label">Status</label>
        <select class="form-control" name="status" [(ngModel)]="formData.status" (change)="alterarAvisoStatus()">
            <option value="1" selected>
                Aberto
            </option>
            <option value="2">
                Entregue
            </option>
            <option value="3">
                Cancelado
            </option>
        </select>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <button class="btn btn-default ml-1" type="button" (click)="router.navigate(['pedidos'])">Cancelar</button>
    </div>
</form>
