<div class="container mt-5">
  <div class="row justify-content-center"> 
    <div class="col-md-4">
      <div class="form-container text-center"> 
        <img class="logo mb-4" src="https://i.postimg.cc/L8tQL81Z/m-INHA-OBRA-removebg-preview.png"> 
        <form class="form" (ngSubmit)="registrar()" >
          <div class="form-group">
            <input type="text" class="form-control" name="nome" [(ngModel)]="nome" placeholder="Nome" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="E-mail" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="senha" [(ngModel)]="senha" placeholder="Senha" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
